body {
	font-family: "Roboto", sans-serif;
	color: #333;
}

h1 {
	text-align: center;
}

.container {
	max-width: 720px;
}

.current-forecast ul {
	list-style: none;
	padding-left: 0;
}

.weather-app {
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	border-radius: 8px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	overflow: hidden;
	padding: 16px 22px;
}

.weather-temperature {
	display: flex;
	justify-content: center;
}

.weather-temperature #temperature {
	font-size: 72px;
}
.weather-temperature #description {
	text-align: center;
	font-size: 14px;
}
.weather-temperature #description::first-letter {
	text-transform: capitalize;
}

.weather-temperature .units {
	position: relative;
	top: -34px;
	margin-left: 6px;
}

.weather-temperature .active {
	color: #333;
	cursor: default;
}

.weather-temperature .active:hover {
	text-decoration: none;
}

.source {
	font-size: 12px;
}
