body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	overflow: hidden;
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	color: #333;
}

h1,
h3 {
	text-align: center;
}

.emoji {
	font-family: "Segoe UI Emoji";
	font-size: 52px;
}

.container {
	max-width: 680px;
}

.appContainer {
	margin: 0 auto;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 16px 22px;
}

.cityNameList {
	list-style: none;
	padding: 0;
}

.cityName {
	font-size: 32px;
}

.description {
	text-transform: capitalize;
}

.currentTemp {
	font-size: 72px;
}

.units {
	position: relative;
	top: -32px;
}

.weatherStats {
	list-style: none;
	padding: 10px 0 0 0;
}

.source {
	display: table;
	font-size: 12px;
}

/* .units a:hover {
	text-decoration: none;
} */

/* .cityName,
.fiveDay-forecast-container div .emoji {
	font-size: 32px;
} */
